<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LIB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_login_servlet</display-name>
    <servlet-name>Student_login_servlet</servlet-name>
    <servlet-class>Student_login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_login_servlet</servlet-name>
    <url-pattern>/Student_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_login</display-name>
    <servlet-name>Admin_login</servlet-name>
    <servlet-class>Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_login</servlet-name>
    <url-pattern>/Admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationServlet</display-name>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>VerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/VerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>librarianServlet</display-name>
    <servlet-name>librarianServlet</servlet-name>
    <servlet-class>librarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>librarianServlet</servlet-name>
    <url-pattern>/librarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validServlet</display-name>
    <servlet-name>validServlet</servlet-name>
    <servlet-class>validServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validServlet</servlet-name>
    <url-pattern>/validServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSLogin</display-name>
    <servlet-name>AdminSLogin</servlet-name>
    <servlet-class>AdminSLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSLogin</servlet-name>
    <url-pattern>/AdminSLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBook</display-name>
    <servlet-name>RemoveBook</servlet-name>
    <servlet-class>RemoveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBook</servlet-name>
    <url-pattern>/RemoveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueServlet</display-name>
    <servlet-name>IssueServlet</servlet-name>
    <servlet-class>IssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueServlet</servlet-name>
    <url-pattern>/IssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewIssueBook</display-name>
    <servlet-name>ViewIssueBook</servlet-name>
    <servlet-class>ViewIssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewIssueBook</servlet-name>
    <url-pattern>/ViewIssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReturn</display-name>
    <servlet-name>ViewReturn</servlet-name>
    <servlet-class>ViewReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReturn</servlet-name>
    <url-pattern>/ViewReturn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibReturnstatus</display-name>
    <servlet-name>LibReturnstatus</servlet-name>
    <servlet-class>LibReturnstatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibReturnstatus</servlet-name>
    <url-pattern>/LibReturnstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogout</display-name>
    <servlet-name>StudentLogout</servlet-name>
    <servlet-class>StudentLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogout</servlet-name>
    <url-pattern>/StudentLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentIssueBook</display-name>
    <servlet-name>StudentIssueBook</servlet-name>
    <servlet-class>StudentIssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentIssueBook</servlet-name>
    <url-pattern>/StudentIssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Liblogout</display-name>
    <servlet-name>Liblogout</servlet-name>
    <servlet-class>Liblogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Liblogout</servlet-name>
    <url-pattern>/Liblogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordAdmin</display-name>
    <servlet-name>ResetPasswordAdmin</servlet-name>
    <servlet-class>ResetPasswordAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordAdmin</servlet-name>
    <url-pattern>/ResetPasswordAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllBooks</display-name>
    <servlet-name>ViewAllBooks</servlet-name>
    <servlet-class>ViewAllBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllBooks</servlet-name>
    <url-pattern>/ViewAllBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordLib</display-name>
    <servlet-name>ResetPasswordLib</servlet-name>
    <servlet-class>ResetPasswordLib</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordLib</servlet-name>
    <url-pattern>/ResetPasswordLib</url-pattern>
  </servlet-mapping>
</web-app>